<?xml version="1.0"?>

<model>
    <name>obstaculo_vermelho</name>
    <version>1.0</version>
    <sdf version="1.4">model.sdf</sdf>

    <author>
        <name>SEMEAR</name>
    </author>

    <description>
        A red obstacle on the road according to the 2019 FIRA Air rules.
    </description>
</model>
