<launch>
    <!-- Incluindo os 12 Qr Codes -->
    <include file="$(find fira)/launch/spawn_sdf.launch">
        <arg name="robot_name" value="qr1" />
        <arg name="x" value="0.01" />
        <arg name="y" value="-0.933153" />
        <arg name="z" value="0.010000" />
        <arg name="roll" value="0"/>
        <arg name="pitch" value="0"/>
        <arg name="yaw" value="0.0" />
        <arg name="sdf_robot_file" value="$(find fira)/models/qr1/model.sdf" />
    </include>


    <include file="$(find fira)/launch/spawn_sdf.launch">
      <arg name="robot_name" value="qr2" />
      <arg name="x" value="1.290069" />
      <arg name="y" value="-0.933153" />
      <arg name="z" value="0.010000" />
      <arg name="roll" value="0"/>
      <arg name="pitch" value="0"/>
      <arg name="yaw" value="0.0" />
      <arg name="sdf_robot_file" value="$(find fira)/models/qr2/model.sdf" />
    </include>

      
    <include file="$(find fira)/launch/spawn_sdf.launch">
      <arg name="robot_name" value="qr3" />
      <arg name="x" value="2.567278" />
      <arg name="y" value="-0.933153" />
      <arg name="z" value="0.010000" />
      <arg name="roll" value="0"/>
      <arg name="pitch" value="0"/>
      <arg name="yaw" value="0.0" />
      <arg name="sdf_robot_file" value="$(find fira)/models/qr3/model.sdf" />
    </include>


    <include file="$(find fira)/launch/spawn_sdf.launch">
      <arg name="robot_name" value="qr4" />
      <arg name="x" value="3.849639" />
      <arg name="y" value="-0.933153" />
      <arg name="z" value="0.010000" />
      <arg name="roll" value="0"/>
      <arg name="pitch" value="0"/>
      <arg name="yaw" value="0.0" />
      <arg name="sdf_robot_file" value="$(find fira)/models/qr4/model.sdf" />
    </include>


    <include file="$(find fira)/launch/spawn_sdf.launch">
      <arg name="robot_name" value="qr5" />
      <arg name="x" value="0.01" />
      <arg name="y" value="-2.202661" />
      <arg name="z" value="0.010000" />
      <arg name="roll" value="0"/>
      <arg name="pitch" value="0"/>
      <arg name="yaw" value="0.0" />
      <arg name="sdf_robot_file" value="$(find fira)/models/qr5/model.sdf" />
    </include>


    <include file="$(find fira)/launch/spawn_sdf.launch">
      <arg name="robot_name" value="qr6" />
      <arg name="x" value="1.290069" />
      <arg name="y" value="-2.202661" />
      <arg name="z" value="0.010000" />
      <arg name="roll" value="0"/>
      <arg name="pitch" value="0"/>
      <arg name="yaw" value="0.0" />
      <arg name="sdf_robot_file" value="$(find fira)/models/qr6/model.sdf" />
    </include>


    <include file="$(find fira)/launch/spawn_sdf.launch">
      <arg name="robot_name" value="qr7" />
      <arg name="x" value="2.567278" />
      <arg name="y" value="-2.202661" />
      <arg name="z" value="0.010000" />
      <arg name="roll" value="0"/>
      <arg name="pitch" value="0"/>
      <arg name="yaw" value="0.0" />
      <arg name="sdf_robot_file" value="$(find fira)/models/qr7/model.sdf" />
    </include>


    <include file="$(find fira)/launch/spawn_sdf.launch">
      <arg name="robot_name" value="qr8" />
      <arg name="x" value="3.849639" />
      <arg name="y" value="-2.202661" />
      <arg name="z" value="0.010000" />
      <arg name="roll" value="0"/>
      <arg name="pitch" value="0"/>
      <arg name="yaw" value="0.0" />
      <arg name="sdf_robot_file" value="$(find fira)/models/qr8/model.sdf" />
    </include>


    <include file="$(find fira)/launch/spawn_sdf.launch">
      <arg name="robot_name" value="qr9" />
      <arg name="x" value="0.01" />
      <arg name="y" value="-3.778134" />
      <arg name="z" value="0.010000" />
      <arg name="roll" value="0"/>
      <arg name="pitch" value="0"/>
      <arg name="yaw" value="0.0" />
      <arg name="sdf_robot_file" value="$(find fira)/models/qr9/model.sdf" />
    </include>


    <include file="$(find fira)/launch/spawn_sdf.launch">
      <arg name="robot_name" value="qr10" />
      <arg name="x" value="1.290069" />
      <arg name="y" value="-3.778134" />
      <arg name="z" value="0.010000" />
      <arg name="roll" value="0"/>
      <arg name="pitch" value="0"/>
      <arg name="yaw" value="0.0" />
      <arg name="sdf_robot_file" value="$(find fira)/models/qr10/model.sdf" />
    </include>


    <include file="$(find fira)/launch/spawn_sdf.launch">
      <arg name="robot_name" value="qr11" />
      <arg name="x" value="2.567278" />
      <arg name="y" value="-3.778134" />
      <arg name="z" value="0.010000" />
      <arg name="roll" value="0"/>
      <arg name="pitch" value="0"/>
      <arg name="yaw" value="0.0" />
      <arg name="sdf_robot_file" value="$(find fira)/models/qr11/model.sdf" />
    </include>


    <include file="$(find fira)/launch/spawn_sdf.launch">
      <arg name="robot_name" value="qr12" />
      <arg name="x" value="3.849639" />
      <arg name="y" value="-3.778134" />
      <arg name="z" value="0.010000" />
      <arg name="roll" value="0"/>
      <arg name="pitch" value="0"/>
      <arg name="yaw" value="0.0" />
      <arg name="sdf_robot_file" value="$(find fira)/models/qr12/model.sdf" />
    </include>

</launch>