<launch>
   <!-- Obstaculo Amarelo -->
  <include file="$(find fira)/launch/spawn_sdf.launch">
      <arg name="robot_name" value="obstaculo_amarelo" />
      <arg name="x" value="1.921000" />
      <arg name="y" value="-1.568925" />
      <arg name="z" value="0.0" />
      <arg name="roll" value="0"/>
      <arg name="pitch" value="0"/>
      <arg name="yaw" value="1.57079632679" />
      <arg name="sdf_robot_file" value="$(find fira)/models/Obstaculo_Amarelo/model.sdf" />
  </include>


    <!-- Obstaculo Vermelho -->
    <include file="$(find fira)/launch/spawn_sdf.launch">
      <arg name="robot_name" value="obstaculo_vermelho" />
      <arg name="x" value="-0.759984" />
      <arg name="y" value="-2.994726" />
      <arg name="z" value="0.0" />
      <arg name="roll" value="0"/>
      <arg name="pitch" value="0"/>
      <arg name="yaw" value="0.0" />
      <arg name="sdf_robot_file" value="$(find fira)/models/Obstaculo_Vermelho/model.sdf" />
  </include>

  </launch>