<launch>
    <include file="$(find fira)/launch/spawn_sdf.launch">
        <arg name="robot_name" value="rua_teste" />
        <arg name="x" value="1.7013" />
        <arg name="y" value="-1.455280" />
        <arg name="z" value="0.0" />
        <arg name="roll" value="0"/>
        <arg name="pitch" value="0"/>
        <arg name="yaw" value="0.0" />
        <arg name="sdf_robot_file" value="$(find fira)/models/rua_sem_qr_code/model.sdf" />
    </include>

  </launch>