<launch>
    <include file="$(find fira)/launch/spawn_sdf.launch">
          <arg name="robot_name" value="rua" />
          <arg name="x" value="1.933884" />
          <arg name="y" value="-2.355076" />
          <arg name="z" value="0.0" />
          <arg name="roll" value="0"/>
          <arg name="pitch" value="0"/>
          <arg name="yaw" value="0.0" />
          <arg name="sdf_robot_file" value="$(find fira)/models/rua/model.sdf" />
    </include>
  
  
    
    <include file="$(find fira)/launch/qr_code.launch">
    </include>

    <!-- Rua que conecta o Heliponto -->
    <include file="$(find fira)/launch/spawn_sdf.launch">
        <arg name="robot_name" value="conect1" />
        <arg name="x" value="0.01" />
        <arg name="y" value="-0.665993" />
        <arg name="z" value="0.001" />
        <arg name="roll" value="0"/>
        <arg name="pitch" value="0"/>
        <arg name="yaw" value="0.0" />
        <arg name="sdf_robot_file" value="$(find fira)/models/rua_conect/model.sdf" />
    </include>

    <!-- Heliponto [ORIGEM] -->
    <include file="$(find fira)/launch/spawn_sdf.launch">
      <arg name="robot_name" value="heliponto" />
      <arg name="x" value="0.0" />
      <arg name="y" value="0.0" />
      <arg name="z" value="0.001" />
      <arg name="roll" value="0"/>
      <arg name="pitch" value="0"/>
      <arg name="yaw" value="0.0" />
      <arg name="sdf_robot_file" value="$(find fira)/models/heliponto/model.sdf" />
  </include>

    <!-- Rua que conecta a Cruz Vermelha -->
    <include file="$(find fira)/launch/spawn_sdf.launch">
        <arg name="robot_name" value="conect2" />
        <arg name="x" value="3.849644" />
        <arg name="y" value="-0.665993" />
        <arg name="z" value="0.001" />
        <arg name="roll" value="0"/>
        <arg name="pitch" value="0"/>
        <arg name="yaw" value="0.0" />
        <arg name="sdf_robot_file" value="$(find fira)/models/rua_conect/model.sdf" />
    </include>

    <!-- Cruz Vermelha -->
    <include file="$(find fira)/launch/spawn_sdf.launch">
      <arg name="robot_name" value="cruz_vermelha" />
      <arg name="x" value="3.859644" />
      <arg name="y" value="0.0" />
      <arg name="z" value="0.001" />
      <arg name="roll" value="0"/>
      <arg name="pitch" value="0"/>
      <arg name="yaw" value="0.0" />
      <arg name="sdf_robot_file" value="$(find fira)/models/cruz_vermelha/model.sdf" />
    </include>

  </launch>