<launch>
   <!-- Qr Code da Torre Elétrica -->
    <include file="$(find fira)/launch/spawn_sdf.launch">
      <arg name="robot_name" value="qt" />
      <arg name="x" value="2.567280" />
      <arg name="y" value="-2.994726" />
      <arg name="z" value="0.01" />
      <arg name="roll" value="0"/>
      <arg name="pitch" value="0"/>
      <arg name="yaw" value="0.0" />
      <arg name="sdf_robot_file" value="$(find fira)/models/qr_torre/model.sdf" />
    </include>

    <!-- Rua que conecta a Torre elétrica -->
    <include file="$(find fira)/launch/spawn_sdf.launch">
        <arg name="robot_name" value="conect3" />
        <arg name="x" value="2.301623" />
        <arg name="y" value="-2.994726" />
        <arg name="z" value="0.001" />
        <arg name="roll" value="0"/>
        <arg name="pitch" value="0"/>
        <arg name="yaw" value="1.57079632679" />
        <arg name="sdf_robot_file" value="$(find fira)/models/rua_conect/model.sdf" />
    </include>

    <!-- Torre Elétrica -->
    <include file="$(find fira)/launch/spawn_sdf.launch">
      <arg name="robot_name" value="torre" />
      <arg name="x" value="1.921000" />
      <arg name="y" value="-2.994726" />
      <arg name="z" value="0.0" />
      <arg name="roll" value="0"/>
      <arg name="pitch" value="0"/>
      <arg name="yaw" value="0.0" />
      <arg name="sdf_robot_file" value="$(find fira)/models/torre_eletrica/model.sdf" />
  </include>




    <!-- Rua que conecta o Prédio -->
    <include file="$(find fira)/launch/spawn_sdf.launch">
        <arg name="robot_name" value="conect4" />
        <arg name="x" value="4.115000" />
        <arg name="y" value="-2.202660" />
        <arg name="z" value="0.001" />
        <arg name="roll" value="0"/>
        <arg name="pitch" value="0"/>
        <arg name="yaw" value="1.57079632679" />
        <arg name="sdf_robot_file" value="$(find fira)/models/rua_conect/model.sdf" />
    </include>

    <!-- Prédio -->
    <include file="$(find fira)/launch/spawn_sdf.launch">
        <arg name="robot_name" value="predio" />
        <arg name="x" value="4.495623" />
        <arg name="y" value="-2.202660" />
        <arg name="z" value="0.0" />
        <arg name="roll" value="0"/>
        <arg name="pitch" value="0"/>
        <arg name="yaw" value="0.0" />
        <arg name="sdf_robot_file" value="$(find fira)/models/predio/model.sdf" />
      </include>
  </launch>